.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
  column-gap: 20px;
}

.cards.block{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering elements */
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--link-color);
  color: var(--white);
  border-radius: 20px;
  max-width: 220px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 20px;
}


.cards .dot-container{
  margin-top: 1rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  .dot1 , .dot2{
        width: 10px;
          height: 10px;
          border: 1px solid var(--black);
          border-radius: 100%;
          
          &.active{
            background-color: var(--black);
          }
  }
}

ul.card-container {
  width: 100%;
  display: flex;
  overflow:auto hidden;
  scroll-snap-type: x mandatory;
  flex: 0 0 calc(100% - 16px);
}

.card-container::-webkit-scrollbar {
  display: none;
}


li.card-slide {
  min-width: 220px; 
  scroll-snap-align: start; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}