.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
  column-gap: 20px;

  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px; */
}

.cards.block{
  overflow: scroll;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--link-color);
  color: var(--white);
  border-radius: 20px;
  width: 220px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 20px;
}


.cards .dot-container{
  margin-top: 1rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  .dot1 , .dot2{
        width: 10px;
          height: 10px;
          border: 1px solid var(--black);
          border-radius: 100%;
          
          &.active{
            background-color: var(--black);
          }
  }
}