footer {
  padding: 0.2rem;
  background-color: var(--black);
  font-size: var(--body-font-size-s);
  color: var(--white);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
